app-nav-bar {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url("http://www.hdnicewallpapers.com/Walls/Big/Abstract/White_Texture_Pattern_Abstract_4K_Wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}
