<div class="main" *ngFor="let item of items">
  <div class="name">
    <h1>{{ item.name }}</h1>
  </div>
  <div class="image">
    <img mat-card-image src="{{ item.img }}" alt="img" />
  </div>
  <div class="description">
    <h2>Description: {{ item.details }}</h2>
  </div>
  <div class="condition">
    <h2>Condition: {{ item.usage }}</h2>
  </div>
  <div class="time">
    <h4>Owner: {{ item.username }}</h4>
  </div>
  <div class="auction">
    <h5>Time Left: {{ item.expiryDate }} timestömp</h5>
  </div>
  <div class="cost">
    <h2>Cost: {{ item.price }}</h2>
  </div>
  <div class="wishlist">
    <button mat-raised-button (click)="check()">Wishlist</button>
  </div>
</div>
