<div class="mainy">
  <img
    src="https://image.flaticon.com/icons/png/512/33/33447.png"
    alt="logo"
    routerLink="/"
  />
  <div class="yourstuff" *ngIf="!isLoggedIn()">
      <button mat-raised-button routerLink="/submit">
          Upload Item
        </button>
    <button mat-raised-button (click)="func('cart')">
      Your Cart
    </button>
    <button mat-raised-button (click)="func('item')">
      Your Items
    </button>
  </div>
  <div>
    <button mat-raised-button *ngIf="isLoggedIn()" routerLink="/login">
      Login
    </button>
    <button mat-raised-button *ngIf="isLoggedIn()" routerLink="/register">
      Register
    </button>
  </div>
  <button
    mat-raised-button
    *ngIf="!isLoggedIn()"
    (click)="logout()"
    routerLink="/"
  >
    Logout
  </button>
</div>
